
<html>

	<head>
		<title>eg</title>
		<link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet"> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	
	<style>
		body {
			background-color: #F0EAD6;
			text-align: center;
			font-family: 'Secular One', sans-serif;
		}
		h1 
		{
			font-size: 50px;
		}
		
		h2
		{
			font-size: 30px;
		}
		
	</style>
	
	<script>
	</script>
	
	<body>
		<img src="Assets/logo.png" alt="logo" style="width: 100%;">
		<script src="Scripts/mousetracker.js"></script>
		<br>
		<h1>C L I C K - T O  &nbsp C A L L I B R A T E &nbsp; B A S K E T &nbsp; S Y S T E M</h1>
		<h2>Please click on Egg #1.<h2>
		
		<div >
			<div>
				<div>
					<a id="test">
						<img class="demo-box" src="Assets/webcam.png" />
					</a>
				</div>
			</div>
		</div>
		<br>
		<img src = "Assets/egg.gif">
	</body>
</html>