<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Basket</title>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/sticky-footer.css">
  <style>
    .white-icon path { fill: white; }
    .navbar-brand {font-variant: small-caps; font-weight: bold}
    .form-group {list-style-type: none}
    .form-group input[type="checkbox"] {display: none}
    .form-group input[type="checkbox"] + .btn-group > label span {width: 20px}
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Basket</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Diagnostics<span class="sr-only"> (current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <ul class="navbar-nav px-3">
      <li class="nav-item">
        <a class="nav-link white-icon" href="/auth/changepw" title="Change password">{{ octicon('key') }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link white-icon" href="/auth/logout" title="Log out">{{ octicon('sign-out') }}</a>
      </li>
    </ul>
  </nav>
  <main role="main" class="container">
    <div class="col-sm-6">
      <h1>{{ octicon('tasklist') }} Diagnostics</h1>
      <ul class="form-group">
{% for name, ready in checklist %}
        <li>
          <input type="checkbox" name="{{ name.lower() }}" disabled>
          <div class="btn-group">
            <label for="{{ name.lower() }}" class="btn btn-{{ 'success' if ready else 'danger' }}">
              <span class="white-icon">{{ octicon('check' if ready else 'x') }}</span>
            </label>
            <label for="{{ name.lower() }}" class="btn btn-outline-{{ 'success' if ready else 'danger' }}">{{ name }}</label>
          </div>
        </li>
{% endfor %}
      </ul>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <span class="text-muted">Made with 👁️👁️ and 🥚. Copyright © 2018 Milkey Mouse.</span>
    </div>
  </footer>
</body>
</html>
