<!DOCTYPE html>
<html>
<head>
<title>Basket</title>
<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/sticky-footer.css">
<style>.navbar-brand{font-variant:small-caps;font-weight:bold}</style>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Basket</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="/auth/changepw">Change password</a>
      </li>
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="/auth/logout">Log out</a>
      </li>
    </ul>
  </nav>

  <main role="main" class="container">
    <div class="starter-template">
      <h1>Welcome to Basket</h1>
      <p class="lead">Look ma, I can use Bootstrap!</p>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">Made with 👁️👁️ and 🥚. Copyright © 2018 Milkey Mouse.</span>
    </div>
  </footer>
</body>
</html>
