<!DOCTYPE html>
<html>
<head>
<title>Rossum v. 1.0.3</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<style>body,html{height:100%;margin:0;padding:0}.container-fluid{height:100%;display:table;width:50%;padding:0}.row-fluid{height:100%;display:table-cell;vertical-align:middle}.centering{float:none;margin:0 auto}.haxPass{margin-right:30%;margin-left:30%;width:40%}.bouncer{margin-bottom:25px}</style>
</head>
<body>
<div class="container-fluid">
   <div class="row-fluid">
      <div class="span3 centering text-center">
          <img class="bouncer" src="bouncer.png"/>
          <form action="/" method="post">
              <input type="password" id="passwordBox" name="password" class="form-control" placeholder="{{ placeholder }}">
          </form>
      </div>
   </div>
</div>
</body>
</html>
