{% extends "/base.html" %}
{% set active_page = "ctrl.bluetooth" %}
{% block icon %}{{ icon('bluetooth') }}{% endblock %}
{% block head %}
  <style>.form-group {list-style-type: none}</style>
{% endblock %}
{% block content %}
    <p>BLE devices in range of this Basket instance:</p>
    <ul class="form-group">
      {% for device in devices %}
      {% set is_egg = device['name'] is not none and device['name'].lower().startswith('egg') -%}
      <li>
        <span class="btn-group"{% if is_egg %} title="Potential egg"{% endif %}>
          <label class="btn btn-outline-{{ 'primary' if is_egg else 'secondary' }}" disabled>{{ icon('radio-tower') }}</label>
          <label class="btn btn-outline-{{ 'primary' if is_egg else 'secondary' }}"><samp>{{ device['macaddr'] }}{% if device['name'] is not none %}</samp> ({{ device['name'] }}){% endif %}</label>
        </span>
      </li>
      {% endfor %}
    </ul>
{% endblock %}
