{% extends "/base.html" %}
{% set active_page = "ctrl.connect" -%}
{% set page_name = "Connect" if connecting else "Disconnect" -%}
{% block icon %}{{ icon('bluetooth') }}{% endblock %}
{% block content %}
    <div id="ws-connected" class="alert alert-success alert-dismissible" role="alert" hidden>
      <p>WebSocket is connected. This page will automatically go back once the device is {{ page_name.lower() }}ed.</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="ws-error" class="alert alert-danger alert-dismissible" role="alert" hidden>
      <p>The WebSocket closed unexpectedly. <a href="{{ url_for('ctrl.bluetooth') }}">Go back to the main page</a> manually in a few seconds.</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <p>{{ 'Connecting to' if connecting else 'Disconnecting from' }} device <code>{{ macaddr }}</code>...</p>
{% endblock %}
{% block script %}
<script>
const proto = (location.protocol == "https:" ? "wss:" : "ws:") + "//";
const socket = new WebSocket(proto + location.host + "{{ url_for('ctrl.bluetooth') }}/ws");

socket.addEventListener("message", function (evt) {
    let msg = JSON.parse(evt.data);

    if (msg.action === "add" && msg.connected == {{ 'true' if connecting else 'false' }}) {
        window.location.href = "/bluetooth";
    }
});

socket.addEventListener("open", function(evt) {
    document.getElementById("ws-connected").removeAttribute("hidden");
});

socket.addEventListener("close", function(evt) {
    if (event.code === 1000) {
        // socket was closed normally, try to reconnect
        socket.open();
    } else {
        document.getElementById("ws-connected").setAttribute("hidden", true);
        let err = document.getElementById("ws-error");
        err.getElementsByTagName("p")[0].innerText = "The WebSocket closed unexpectedly: " + evt.reason + " (Code " + evt.code + "). This page will not automatically update.";
        err.removeAttribute("hidden");
    }
});

socket.addEventListener("error", function(evt) {
    document.getElementById("ws-connected").setAttribute("hidden", true);
    let err = document.getElementById("ws-error");
    err.getElementsByTagName("p")[0].innerText = "There was an error with the WebSocket: " + evt + ". This page will not automatically update.";
    err.removeAttribute("hidden");
});

Array.prototype.forEach.call(document.getElementsByClassName("alert"), function(el) {
    el.getElementsByTagName("button")[0].addEventListener("click", function() {
        el.setAttribute("hidden", true);
    });
});

if (socket.readyState === WebSocket.OPEN) {
    document.getElementById("ws-connected").removeAttribute("hidden");
}
</script>
{% endblock %}
