{% extends "/base.html" %}
{% set active_page = "ctrl.index" %}
{% block head %}
  <style>
    .btn-group {width: 100%; margin-bottom: 10px}
    .form-group input[type="checkbox"] {display: none}
    .form-group input[type="checkbox"] + .btn-group > label span {width: 20px}
  </style>
{% endblock %}
{% block icon %}{{ icon('tasklist') }}{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-auto">
        <h3>{{ icon('graph') }} Status</h3>
        <ul class="list-unstyled form-group">
          {% for name, ready in checklist %}
          <li>
            <div class="btn-group">
              <div class="btn btn-{{ 'success' if ready else 'danger' }}">
                <span class="white-icon">{{ icon('check' if ready else 'x') }}</span>
              </div>
              <div class="btn btn-block btn-outline-{{ 'success' if ready else 'danger' }}">{{ name }}</div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col">
        <h3>{{ icon('server') }} System information</h3>
        <table class="table table-striped">
          <tbody>
            {% for prop, value in sysinfo %}
            <tr>
              <td>{{ prop }}</td>
              <td><code>{{ value }}</code></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
